<div id="splash-bienvenida" class="middle-box text-center animated fadeOutUp msg">
  <div class="col-sm-6 col-sm-offset-3 animated fadeInUp m-t-lg" style="margin-top:80px;">
    <img src="assets/img/brand.png" class="img-responsive center-block animated fadeInUp m-t-lg">
  </div>
  <div class="col-sm-6 col-sm-offset-3 animated fadeInUp" style="animation-delay:0.7s">

    <h1 style="font-size: 80px;" class="no-margins">Bienvenido</h1>

    <br>
    <h3 class="font-bold">version: {{version}}</h3>
  </div>
</div>