<div class="ibox">
    <div class="ibox-content no-padding">
        <div id="aside" class="panel-body ibox-content collapse-on">
            <h3>Bienvenido</h3>

                <p style="text-align: justify; font-size: 15px;">
                    En esta nueva aplicación podrás visualizar el detalle de las ventas de nuestras Tiendas por Departamento con sus principales KPI.
                    <br>
                    <br>
                    Nos encontramos en la versión BETA por lo que si quieres reportar algún incidente, no dudes en notificarnos 
                    <!-- <a target="_blank" href="https://gitlab.cencosud.com/Streaming_Ventas/sales-rf-display/issues">aqui</a> -->
                </p>
        </div>
        </div></div>